* {
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}

/* banner styles */

.banner-container {

    background-image: url("images/banner/banner3.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: right;

}

.banner-title {

    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    margin-bottom: 24px;
    margin-right: 275px;
    text-align: right;
}

.banner-details {

    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 32px;
    margin-right: 275px;

}

.btn {

    color: #005FAC;
    padding: 21px 25px 20px 26px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    border-style: none;
    margin-right: 275px;

}


/* failure-portion  */



.failure-container {

    display: flex;
    align-items: center;
    align-items: center;
    margin-top: 131px;
    margin-left: 206px;
    margin-right: 322px;
    margin-bottom: 130px;

}


.person {

    margin-right: 87px;

}

.failure-title {

    max-width: 288px;
    max-height: 94px;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    line-height: 47px;
    margin-bottom: 24px;

}

.failure-description {

    font-weight: 400;
    font-size: 16px;
    color: #444343;
    max-width: 416px;
    max-height: 104px;
    margin-bottom: 16px;
    line-height: 26px;

}

.failure-list {

    max-width: 349px;
    max-height: 162px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    padding-left: 23px;
    list-style-image: url("images/icons/check-mark.png");

}


/* Future plan section */


.my-plan {

    color: #151414;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;

}

.plan-container {

    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-left: 230px;
    margin-right: 230px;
}

.container .plan-title {

    font-weight: 700;
    font-size: 30px;
    color: #151414;
    margin-top: 16px;
    margin-bottom: 16px;

}

.plan-description {

    font-weight: 500;
    font-size: 25px;
    color: #737272;

}


/* gradient section */


.gradient {

    background-image: url("images/watch.png"), url("images/gradient1.png");
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    text-align: center;
    background-position: 50%;
    margin-bottom: 130px;
    min-height: 1130px;
    min-height: 300px;

}


.mindset {

    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    text-align: left;
    margin-left: 480px;
    margin-top: 190px;
    padding-top: 50px;

}

.call-btn {

    color: #005FAC;
    margin-top: 15px;
    padding: 20px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    border-style: none;
    margin-right: 756px;

}



/* form section starts from here  */


.form-section {
    display: block;
    background-color: #3b9bac41;
    background-position: right;
    align-items: center;
    width: 400px;
    margin: 100px auto 0px auto;
}


h1 {
    margin-bottom: 10px;
    text-align: center;
    padding: 20px;
}


.client-info {

    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid rgba(9, 75, 150, 0.986);
    box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.5);
    color: #000000;
    margin-bottom: 100px;
}


label {

    display: block;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 20px;
    font-size: 20px;
    text-align: left;
    width: 300px;
    border: .5px solid #FFFFFF;
    border-radius: 3px;
    padding: 7px;
    background-color: rgb(134, 154, 172);
}

#submit {
    width: 150px;
    padding: auto;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 120px;
    background-color: #005fac8f;
    color: #FFFFFF;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

input,
textarea {
    border-radius: 4px;
    width: 250px;
    text-align: center;
}

input {
    height: 25px;
}


/* footer section */


.footer-container {

    display: flex;
    background-color: #151414;
    min-height: 577px;
    min-width: 1600px;
    justify-content: space-around;
    align-items: center;
    text-align: left;

}

.info {

    color: #F8F8F8;
    max-width: 490px;

}

.subscribe {

    color: #FFFFFF;
    max-width: 325px;

}

.info-title {

    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
    margin-bottom: 16px;

}


.info-details {

    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 24px;

}

.number,
.email {

    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 32px;

}

.subscribe {

    font-weight: 600;
    font-size: 25px;
    color: #ffffff;
    margin-bottom: 31px;

}

.mail {

    width: 325px;
    height: 40px;
    left: 1046px;
    border-radius: 5px;
    padding: 15px;
    background-color: #15141442;
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 20px;

}

.btn-Subscribe {

    background: #005FAC;
    border-radius: 8px;
    padding: 20px 36px;
    border-style: none;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;

}